name: Build and Deploy
on:
  push:
    branches:
      - "main"
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: npm

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build --if-present

    - name: Generate docs
      run: npx typedoc src/*.ts

    - name: move files
      run: |
        mkdir -p public
        if [ -d dist ]; then cp -r dist public/; fi
        if [ -d docs ]; then cp -r docs public/; fi
        cp _config.yml README.md public/
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
        enable_jekyll: true
